Repository danieleschmidt/zkp-dataset-ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit configuration for ZKP Dataset Ledger
# https://pre-commit.com/

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false
        
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
        
      - id: cargo-test
        name: cargo test
        entry: cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false
        
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        files: '^Cargo\.(toml|lock)$'
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.(md|yml|yaml)$'
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        
  # Security checks
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.63.2
    hooks:
      - id: trufflehog
        name: TruffleHog
        entry: trufflehog filesystem
        language: system
        pass_filenames: false
        
  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json']
        
# Configuration
default_stages: [commit]
fail_fast: true

# Skip specific hooks for specific files
# Example: SKIP=cargo-test git commit -m "docs update"

feat: comprehensive SDLC enhancements for maturing ZKP Dataset Ledger repository
  .cargo/config.toml
  CLAUDE.md
  SLSA.md
  deny.toml
  docs/adr/000-template.md
  docs/adr/001-use-groth16-for-zk-proofs.md
  docs/adr/README.md
  incident-response.md
  observability.toml
  performance-requirements.md
  proptest-regressions/.gitkeep
  supply-chain.toml
  tarpaulin.toml
Due: none

feat: comprehensive SDLC enhancement for maturing ZKP Dataset Ledger
  .github/dependabot.yml
  Cargo.toml
  IMPLEMENTATION-ROADMAP.md
  benches/proof_generation.rs
  benches/verification.rs
  container-security.toml
  disaster-recovery.toml
  load-testing.toml
  mutation-testing.toml
  property-testing.toml
  renovate.json
  sbom-config.toml
  src/bin/cli.rs
  src/circuits.rs
  src/storage.rs
  telemetry.toml
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs: establish project foundation and community files
  ARCHITECTURE.md
  PROJECT_CHARTER.md
  docs/ROADMAP.md
Due: none

feat: setup development environment and code quality tools
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .env.example
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

test: establish comprehensive testing infrastructure
  docs/testing/README.md
  tests/e2e/cli_workflows.rs
  tests/fixtures/mod.rs
  tests/performance/benchmarks.rs
  tests/property/ledger_properties.rs
  tests/test_config.toml
Due: cargo-fmt, cargo-clippy, cargo-test

feat(build): add comprehensive build script and PostgreSQL init schema
  .dockerignore
  build.sh
  docker/init.sql
Due: none

build: add containerization and build automation
  build.sh
  docs/deployment/README.md
Due: none

ops: add monitoring and observability configuration
  docs/monitoring/alerts.yml
  docs/monitoring/grafana-dashboard.json
  docs/monitoring/prometheus.yml
  docs/runbooks/incident-response.md
Due: none

docs: add CI/CD workflow documentation and templates
  docs/workflows/README.md
  docs/workflows/SETUP_REQUIRED.md
  docs/workflows/examples/ci.yml
  docs/workflows/examples/security.yml
Due: none

feat(ci): add comprehensive CI/CD workflows and real-world examples
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cargo.toml
  ENHANCEMENT_SUMMARY.md
  PUBLISHING.md
  SDLC_ANALYSIS.md
  examples/README.md
  examples/basic/Cargo.toml
  examples/basic/main.rs
  examples/mlflow/integration.py
  examples/mlflow/requirements.txt
  examples/python-bindings/demo.py
  src/circuits.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
  src/crypto/mod.rs
  src/dataset.rs
  src/error.rs
  src/ledger.rs
  src/lib.rs
  src/proof.rs
  src/storage.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(ci): move workflows to setup directory due to GitHub permissions
  .github-workflows-to-create/ci.yml
  .github-workflows-to-create/release.yml
  ENHANCEMENT_SUMMARY.md
  WORKFLOW_SETUP.md
Due: none

docs: establish project foundation and community files
  ARCHITECTURE.md
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/guides/README.md
Due: none

feat: setup development environment and code quality tools
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .env.example
  Dockerfile.dev
Due: none

test: establish comprehensive testing infrastructure
  scripts/run-tests.sh
  tests/README.md
  tests/fixtures/mod.rs
  tests/integration/end_to_end_tests.rs
  tests/integration/mod.rs
  tests/integration_tests.rs
  tests/performance/benchmark_tests.rs
  tests/performance/mod.rs
  tests/test_config.toml
  tests/unit/crypto_tests.rs
  tests/unit/ledger_tests.rs
  tests/unit/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

build: add containerization and build automation
  Dockerfile.security
  docker-compose.prod.yml
  docker/sbom-config.toml
  docs/BUILD.md
Due: none

ops: add monitoring and observability configuration
  docker-compose.monitoring.yml
  docker/alertmanager/alertmanager.yml
  docker/prometheus/prometheus.yml
  docs/monitoring/README.md
Due: none

docs: add comprehensive workflow templates and automation
  docs/workflows/examples/dependency-update.yml
  docs/workflows/examples/release.yml
Due: none

feat: complete SDLC implementation with metrics and final configuration
  .github/project-metrics.json
  CODEOWNERS
  SDLC_IMPLEMENTATION_COMPLETE.md
  scripts/collect-metrics.sh
Due: none

feat(ci): add comprehensive CI/CD, release, and security workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  SDLC_ANALYSIS.md
  examples/github-actions/ml-pipeline.yml
  examples/kubernetes/zkp-ledger-deployment.yaml
  examples/mlflow/requirements.txt
  examples/terraform/main.tf
Due: none

feat(ci-cd): add comprehensive production-ready CI/CD and security workflows
  .github-workflows-to-create/ci.yml
  .github-workflows-to-create/release.yml
  SDLC_IMPLEMENTATION_SUMMARY.md
  WORKFLOW_SETUP_INSTRUCTIONS.md
  workflows-to-setup/ci.yml
  workflows-to-setup/release.yml
  workflows-to-setup/security.yml
Due: none

Complete SDLC Improvements: Production-Ready CI/CD, Security, Release, and Examples (#19)
  .github-workflows-to-create/ci.yml
  .github-workflows-to-create/release.yml
  SDLC_ANALYSIS.md
  SDLC_IMPLEMENTATION_SUMMARY.md
  WORKFLOW_SETUP_INSTRUCTIONS.md
  examples/github-actions/ml-pipeline.yml
  examples/kubernetes/zkp-ledger-deployment.yaml
  examples/mlflow/requirements.txt
  examples/terraform/main.tf
  workflows-to-setup/ci.yml
  workflows-to-setup/release.yml
  workflows-to-setup/security.yml
Due: none

feat(ledger): add comprehensive ledger with dataset notarization and proof tracking
  Cargo.toml
  src/circuits.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
  src/dataset.rs
  src/error.rs
  src/ledger.rs
  src/proof.rs
  src/storage.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(ledger): add comprehensive ledger with dataset notarization and proof tracking (#20)
  Cargo.toml
  src/circuits.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
  src/dataset.rs
  src/error.rs
  src/ledger.rs
  src/proof.rs
  src/storage.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

Update README.md
  README.md
Due: none

feat(cli): add comprehensive CLI commands for ledger operations
  Cargo.toml
  DEPLOYMENT_GUIDE.md
  Makefile
  PRODUCTION_CHECKLIST.md
  src/bin/cli.rs
  src/lib.rs
  src/monitoring.rs
  src/performance.rs
  src/recovery.rs
  src/security.rs
  tests/integration/cli_tests.rs
  tests/integration/end_to_end_workflow.rs
  tests/integration/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(cli): add comprehensive CLI commands for ledger operations (#22)
  Cargo.toml
  DEPLOYMENT_GUIDE.md
  Makefile
  PRODUCTION_CHECKLIST.md
  src/bin/cli.rs
  src/lib.rs
  src/monitoring.rs
  src/performance.rs
  src/recovery.rs
  src/security.rs
  tests/integration/cli_tests.rs
  tests/integration/end_to_end_workflow.rs
  tests/integration/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(config,cli,proof,storage): add comprehensive config management, CLI config commands, Groth16 proofs, RocksDB storage, and tests
  Cargo.toml
  src/bin/cli.rs
  src/circuits.rs
  src/config.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
  src/dataset.rs
  src/error.rs
  src/ledger.rs
  src/lib.rs
  src/monitoring.rs
  src/performance.rs
  src/proof.rs
  src/recovery.rs
  src/security.rs
  src/storage.rs
  tests/integration/complete_workflow_test.rs
  tests/integration/mod.rs
  tests/unit/dataset_tests.rs
  tests/unit/proof_tests.rs
  tests/unit/storage_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(config,cli,proof,storage): add comprehensive config management, CLI config commands, Groth16 proofs, RocksDB storage, and tests (#24)
  Cargo.toml
  src/bin/cli.rs
  src/circuits.rs
  src/config.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
  src/dataset.rs
  src/error.rs
  src/ledger.rs
  src/lib.rs
  src/monitoring.rs
  src/performance.rs
  src/proof.rs
  src/recovery.rs
  src/security.rs
  src/storage.rs
  tests/integration/complete_workflow_test.rs
  tests/integration/mod.rs
  tests/unit/dataset_tests.rs
  tests/unit/proof_tests.rs
  tests/unit/storage_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(zkp): implement advanced zero-knowledge proof features and optimizations
  ADVANCED_FEATURES_IMPLEMENTATION.md
  Cargo.toml
  src/bin/cli.rs
  src/circuits.rs
  src/config.rs
  src/crypto/merkle.rs
  src/error.rs
  src/lib.rs
  src/performance.rs
  src/proof.rs
  src/security.rs
  src/storage.rs
  tests/fixtures/mod.rs
  tests/integration/cli_integration_tests.rs
  tests/integration/cli_tests.rs
  tests/integration/complete_workflow_test.rs
  tests/integration/end_to_end_tests.rs
  tests/integration/end_to_end_workflow.rs
  tests/integration/mod.rs
  tests/integration/performance_tests.rs
  tests/integration/storage_integration_tests.rs
  tests/integration_tests.rs
  tests/performance/benchmark_tests.rs
  tests/performance/mod.rs
  tests/unit/advanced_circuits_tests.rs
  tests/unit/crypto_tests.rs
  tests/unit/dataset_tests.rs
  tests/unit/ledger_tests.rs
  tests/unit/mod.rs
  tests/unit/proof_tests.rs
  tests/unit/storage_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(zkp): implement advanced zero-knowledge proof features and optimizations (#25)
  ADVANCED_FEATURES_IMPLEMENTATION.md
  Cargo.toml
  src/bin/cli.rs
  src/circuits.rs
  src/config.rs
  src/crypto/merkle.rs
  src/error.rs
  src/lib.rs
  src/performance.rs
  src/proof.rs
  src/security.rs
  src/storage.rs
  tests/fixtures/mod.rs
  tests/integration/cli_integration_tests.rs
  tests/integration/cli_tests.rs
  tests/integration/complete_workflow_test.rs
  tests/integration/end_to_end_tests.rs
  tests/integration/end_to_end_workflow.rs
  tests/integration/mod.rs
  tests/integration/performance_tests.rs
  tests/integration/storage_integration_tests.rs
  tests/integration_tests.rs
  tests/performance/benchmark_tests.rs
  tests/performance/mod.rs
  tests/unit/advanced_circuits_tests.rs
  tests/unit/crypto_tests.rs
  tests/unit/dataset_tests.rs
  tests/unit/ledger_tests.rs
  tests/unit/mod.rs
  tests/unit/proof_tests.rs
  tests/unit/storage_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(distributed): add distributed processing and horizontal scaling
  ARCHITECTURE.md
  DEPLOYMENT.md
  Dockerfile.production
  config/production.toml
  deploy.sh
  docker-compose.production.yml
  k8s/deployment.yaml
  k8s/namespace.yaml
  src/distributed.rs
  src/error.rs
  src/monitoring_enhanced.rs
  src/performance_enhanced.rs
  src/recovery_enhanced.rs
  src/security.rs
  src/security_enhanced.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Autonomous SDLC v4.0: Enterprise-Grade Distributed ZKP Ledger with Advanced Features (#26)
  ARCHITECTURE.md
  DEPLOYMENT.md
  Dockerfile.production
  config/production.toml
  deploy.sh
  docker-compose.production.yml
  k8s/deployment.yaml
  k8s/namespace.yaml
  src/distributed.rs
  src/error.rs
  src/monitoring_enhanced.rs
  src/performance_enhanced.rs
  src/recovery_enhanced.rs
  src/security.rs
  src/security_enhanced.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core): implement comprehensive error handling system
  src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core): simplify ZK circuits and fix core modules
  src/circuits.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
Due: cargo-fmt, cargo-clippy, cargo-test

🎉 feat: GENERATION 1 COMPLETE - Working ZKP Dataset Ledger CLI
  Cargo.toml
  Cargo_complex.toml
  src/bin/cli.rs
  src/bin/cli_simple.rs
  src/circuits_complex.rs
  src/crypto/merkle.rs
  src/error.rs
  src/error_complex.rs
  src/lib.rs
  src/lib_complex.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(robust): implement persistent storage and enhanced CLI commands
  default_ledger/ledger.json
  src/bin/cli_simple.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(robust): implement comprehensive logging and monitoring
  Cargo.toml
  default_ledger/ledger.json
  src/bin/cli_simple.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

Refactor to Simplified ZKP Dataset Ledger with Enhanced Logging and Modular Circuits (#31)
  Cargo.toml
  Cargo_complex.toml
  default_ledger/ledger.json
  src/bin/cli.rs
  src/bin/cli_simple.rs
  src/circuits.rs
  src/circuits_complex.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
  src/error.rs
  src/error_complex.rs
  src/lib.rs
  src/lib_complex.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(distributed): add distributed processing and load balancing for ZKP proof generation
  Cargo.toml
  examples/comprehensive_demo.rs
  examples/simple_notarize.rs
  src/crypto/mod.rs
  src/distributed.rs
  src/error.rs
  src/ledger.rs
  src/lib.rs
  src/monitoring_enhanced.rs
  src/performance_enhanced.rs
  src/proof.rs
  src/research/advanced_circuits.rs
  src/research/benchmarks.rs
  src/research/differential_privacy.rs
  src/research/federated_proofs.rs
  src/research/mod.rs
  src/research/optimization.rs
  src/research/streaming_zkp.rs
  src/security.rs
  src/storage.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit
